{% set current_path = current_path | default(value="/") %}

{# Analytics #}
{% if config.extra.analytics.enabled %}
    {% if config.extra.analytics.umami.website_id %}
        {% set website_id = config.extra.analytics.umami.website_id %}
        {% set host_url = config.extra.analytics.umami.host_url | default(value="https://analytics.eu.umami.is") %}

        <script async src="{{ get_url(path="js/imamu.js") }}" data-website-id="{{ website_id }}" data-host-url="{{ host_url }}"></script>
    {% endif %}

    {% if config.extra.analytics.goatcounter.user %}
        {% set user = config.extra.analytics.goatcounter.user %}
        {% set host = config.extra.analytics.goatcounter.host | default(value="goatcounter.com") %}

        <script
            defer
            src="{{ get_url(path="js/count-loader.min.js") }}"
            data-count-src="{{ get_url(path="js/count.js") }}"
            data-goatcounter="https://{{ user }}.{{ host }}/count">
        </script>
        <noscript>
            {# EasyList blocks '.com/count?', so we have to use '.com//count' #}
            <img
                src="https://{{ user }}.{{ host }}//count?p={{ current_path }}&t={{ page.title | default(value=config.title) }}"
                alt=""
                aria-hidden="true"
                width="1"
                height="1"
                loading="lazy"
                decoding="async">
        </noscript>
    {% endif %}
{% endif %}
