{%- set type = type | default(value="default") -%}
{%- set clickable = clickable | default(value=false) -%}
{%- set hidden = hidden | default(value=false) -%}
{%- set center = center | default(value=false) -%}
{%- set header = header | default(value=type | title) -%}
{%- set body = body | default(value="") -%}
{%- set icon = icon | default(value="") -%}

<div class="note-container note-type-{{ type }}">
  {% if clickable %}
    <button class="note-toggle" aria-expanded="{{ not hidden }}">
      {% if center %}
        <div class="note-center">
          {{ header | markdown | safe }}
        </div>
      {% else %}
        <div class="note-icon">
          {% if icon != "" %}
            <span class="custom-icon">{{ icon | safe }}</span>
          {% endif %}
          {{ header | markdown | safe }}
        </div>
      {% endif %}
    </button>
    <div class="note-content" style="display: {% if hidden %}none{% else %}block{% endif %};">
      {{ body | markdown | safe }}
    </div>
  {% else %}
    <div class="note-header">
      {% if center %}
        <div class="note-center">
          {{ header | markdown | safe }}
        </div>
      {% else %}
        <div class="note-icon">
          {% if icon != "" %}
            <span class="custom-icon">{{ icon | safe }}</span>
          {% endif %}
          {{ header | markdown | safe }}
        </div>
      {% endif %}
    </div>
    <div class="note-content">
      {{ body | markdown | safe }}
    </div>
  {% endif %}
</div>
